// =========== COLORS ============= //

// BASE
$color-black: #000;
$color-white: #fff;
$color-purple-main: #8e44ad;
$color-purple-secondary: #9b59b6;
$color-gray-main: #f7f7f7;
$color-gray-secondary: #999;
$color-gray-dark: #232323;

// UI
$color-main: #2196F3;
$color-secondary: #1976D2; 

$color-accent: #cd201f;

$color-secondary-light: #BA68C8;
$color-secondary-dark: #7B1FA2;

$color-tertiary-light: #4CAF50;
$color-tertiary-dark: #388E3C;

$color-quaternary-light: #FF9800;
$color-quaternary-dark: #F57C00;

// FONT
$color-text: #333;

// ============= GRID ============== //

$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3.75rem;
$gutter-horizontal: 3.75rem; 